<?xml version="1.0"?>
<config>
  <modules>
    <Mk_StoreInfo>
      <version>0.1.0</version>
    </Mk_StoreInfo>
  </modules>
  <global>
    <helpers>
      <storeinfo>
        <class>Mk_StoreInfo_Helper</class>
      </storeinfo>
    </helpers>
	<blocks>
	  <storeinfo>
		<class>Mk_StoreInfo_Block</class>
	  </storeinfo>
	</blocks>
  </global>
  <admin>
	<routers>
	  <storeinfo>
	    <use>admin</use>
		<args>
		  <module>Mk_StoreInfo</module>
		  <frontName>storeinfo</frontName>
		</args>
	  </storeinfo>
	</routers>
  </admin>
  <adminhtml>
	<menu>
		<system>
				<children>
	  <storeinfo module="storeinfo">
		<title>StoreInfo</title>
		<sort_order>100</sort_order>
		<children>
		  <storeinfobackend module="storeinfo">
			<title>Store Info</title>
			<sort_order>0</sort_order>
			<action>storeinfo/adminhtml_storeinfobackend</action>
		  </storeinfobackend>
		</children>
	  </storeinfo>
	</children>
	</system>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
		  	<system>
		  		<children>
			<storeinfo translate="title" module="storeinfo">
			  <title>StoreInfo</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <storeinfobackend translate="title">
			<title>Store Info</title>
		  </storeinfobackend>
			  </children>
			</storeinfo>
		  		</children>
		  	</system>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<storeinfo>
		  <file>storeinfo.xml</file>
		</storeinfo>
	  </updates>
	</layout>
  </adminhtml>
</config> 